.container{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  
  background-color: $Dark-Grayish-rBlue;
  width:75%;
  // height:45%;
  border-radius: 0.5rem; 
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap:3rem;
  padding:2rem;

  .label-wrapper{
    label{
      color:$Neon-Green;
      font-size: 0.9rem;
      font-weight: 800;
      letter-spacing: 0.3rem;
    }
  }

  .advice-wrapper{
    display:flex;
    align-items: center;
    label{
      color:$Light-Cyan;
      font-size: 28px;
      font-weight: 800;
      text-align: center;
    }
  }

  .wrapper-img{
    display:none;
    
  }
  .wrapper-img-mobile{
    margin: 0 0 3rem 0;
  }

}
.btn-wrapper{
    display:flex;
    align-items: center;
    margin:-23px;
    .boton{
    background-color:  $Neon-Green;
    width:48px;
    height:48px;
    border:none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    &:hover{
        filter: drop-shadow(0px 0px 25px #52FFA8)
      }
    }
  }




